// Tabs

:host /deep/ .mdl-tabs__tab-bar {
  justify-content: flex-start !important;
}

mdl-icon {
  vertical-align: middle;
}


// Textarea

:host /deep/ mdl-textfield {
  width:100%;
  display:block;
}

:host /deep/ mdl-textfield textarea {
  line-height:22px;
}


// Dropdown

:host /deep/ mdl-select .mdl-textfield {
  width:205px;
  margin-left:10px;
}


// Layout

/* Header */

.mdl-layout__header-row {
  padding-left: 40px;
}

/* Main */

.demo-main {
  flex-shrink: 0;
}

.demo-container {
  max-width: 1400px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.demo-content {
  border-radius: 2px;
  padding: 50px 56px 80px;
  margin-bottom: 80px;
}

.demo-layout.is-small-screen .demo-content {
  padding: 40px 28px;
}

.demo-content h3 {
  margin-top: 38px;
  border-bottom: 1px solid #eaecef;
}

/* Footer */

.demo-footer {
  padding-left: 40px;
}

.demo-footer .mdl-mini-footer--link-list a {
  font-size: 13px;
}

.icon svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
